
.container {
  padding: 10px 100px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 130px 130px 130px 25px;

}


/* css for the blocks */
.item1 {
  background-color: rgb(11, 161, 144);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.item2 {
  background-color: rgb(11, 161, 144);
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.item3 {
  background-color: rgb(11, 161, 144);
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.item4 {
  background-color: rgb(11, 161, 144);
  grid-column: 1 / 5;
  grid-row: 2 / 5;
}

/* css for the green line */
.item5 {
  background-color: rgb(174, 220, 74);
  grid-column: 1 / 5;
  grid-row: 5 / 6;
}


/* css for circles */
.circle1 {
  background-color: rgb(222, 132, 145);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 16%;
  left: 15%;
}

.circle2 {
  background-color: rgb(234, 211, 94);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 19%;
  left: 26%;
}

.circle3 {
  background-color: rgb(222, 132, 145);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 18%;
  left: 40%;
}

.circle4 {
  background-color: rgb(222, 132, 145);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 31%;
  left:15%;
}

.circle5 { 
  background-color: rgb(234, 211, 94);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 45%;
  left: 25%;

}

.circle6 {
  background-color: rgb(222, 132, 145);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 31%;
  left:32.5%;
}

/* css for the triangles */
.large-triangle {
  height: 0;
  width: 0;

  border-left: 11rem solid transparent;
  border-right: 11rem solid transparent;
  border-bottom: 25rem solid green;

  position: absolute;
  top: 24.3%;
  left: 50.5%;
}

.small-triangle {
  height: 0;
  width: 0;

  border-left: 10rem solid transparent;
  border-right: 10rem solid transparent;
  border-bottom: 18rem solid rgb(187, 216, 70);

  position: absolute;
  top: 42.4%;
  left: 66.5%;
}
